<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<Page actionBarHidden="true" loaded="pageLoaded">
	<Page.actionBar>
		<ActionBar title="" class="action-bar bg-green">
			<GridLayout columns="auto, *" class="action-bar-title">
				<Label col="0" class="fa" text="&#xf039;" (tap)="toggleDrawer()"></Label>
				<Label col="1" text="{{ 'home.welcome' | translate }} {{userDTO.firstName}}" class="p-r-10 text-align-center font-weight-bold"></Label>
			</GridLayout>
		</ActionBar>
	</Page.actionBar>
	<RadSideDrawer [drawerTransition]="sideDrawerTransition" id="sideDrawer" (loaded)="pageLoaded($event)">
	
		<!-- side drawer content -->
	    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
	        <StackLayout row="0" class="sidedrawer-header">
	            <Label col="0" class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
	            <!-- <Image class="sidedrawer-header-image img-circle" src="~/my-app-logo.png"></Image> -->
	            <Label col="1" class="sidedrawer-header-brand" text="{{userDTO.firstName}}"></Label>
	        </StackLayout>
	        <StackLayout row="1">
	    		<menu [menuDrawer]="drawer"></menu>
	    	</StackLayout>
	    </GridLayout>
	
	    <!-- The main content -->
	    <StackLayout tkMainContent>
			<page-router-outlet tkMainContent class="page page-content" name="menuRouterOutlet"></page-router-outlet>
	    </StackLayout>
	
	</RadSideDrawer>
</Page>
