<!--The content below is only a placeholder and can be replaced.-->
<div class="p-grid home-layout">
	<div class="p-col-12">
		<div class="p-grid">
			<div class="p-col-2 p-md-2">
				Logo
			</div>
			<div class="p-col-8 p-md-8">
				{{ 'home.welcome' | translate }} {{userDTO.firstName}}
			</div>
			<div class="p-col-2 p-md-2">
				<a href="javascript:void(0);" (click)="logout()">Logout</a>
			</div>
		</div>
		
	</div>
	<div class="p-col-2 p-md-2">
		<menu style="padding-left: 0px; width: 100%"></menu>
    </div>
    <div class="p-col-10 p-md-10 p-col-nogutter">
		<router-outlet name="menuRouterOutlet"></router-outlet>
    </div>
    <div class="p-col-12">
        &copy;2018 Company All Rights Reserved Co. Reg. No. 199504676H
    </div>
</div>
