<p-dataView #dataView layout="grid" [value]="orders" [paginator]="true" [rows]="numberOfRowsPerPage" [totalRecords]="totalRecords" 
    [lazy]="true" (onLazyLoad)="lazyLoadRecordList($event)" paginatorPosition="both" filterBy="id"
    [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-4 ui-md-4 text-align-left text-align-bottom">
                     <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
                <div class="ui-g-4 ui-md-4 text-align-center text-align-bottom">
                     <h3>Todays Order</h3>
                </div>
                <div class="ui-col-4 ui-md-4 ui-col-nogutter text-align-right text-align-bottom">
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-sellerOrder let-rowIndex="rowIndex" let-columns="columns" pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3 hand-cursor tableRowHoverCss" (click)="showDetailDialog(sellerOrder)">
            <p-panel [header]="sellerOrder.seller.firstName + ' ' +sellerOrder.priceTag.product[languageCode]" [style]="{'text-align':'center'}">
                  <img *ngIf="hasPhoto(sellerOrder.priceTag.product.assets)" class="card-img-top" [src]="getPhoto(sellerOrder.priceTag.product.assets)" alt="image"
                            style="width: 100%" width="60">
                  <img *ngIf="!hasPhoto(sellerOrder.priceTag.product.assets)" class="card-img-top" src="/assets/images/avatar.png" alt="image"
                            style="width: 100%" width="60">
                  <div>{{sellerOrder.sellerTransaction.sellerProductQuantity}} kg</div>
                  <hr class="ui-widget-content" style="border-top:0">
            </p-panel>
        </div>
     </ng-template>
</p-dataView>
<p-dialog [(visible)]="displayAlertDialog" 
        [style]="{'width': '300px !important', 'height': '200px !important','min-width': '300px !important', 'min-height': '200px !important'}" 
        [minY]="70" [maximizable]="false">
        <p-header>
            <p-message *ngIf="alertDialogTitle == 'Error'" severity="error" text="Error" [closable]="false"></p-message>
            <p-message *ngIf="alertDialogTitle == 'Success'" severity="success" text="Success" [closable]="false"></p-message>
        </p-header>
            {{alertDialogMessage}}
        <p-footer>
            <button type="button" pButton icon="pi pi-close" (click)="displayAlertDialog=false" label="Ok" class="ui-button-success ui-button-raised ui-button-rounded"></button>
        </p-footer>
</p-dialog>