.box, .login-layout>div {
	background-color: #67ce00;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 4px;
}

.box-stretched {
	height: 100%;
}

.login-layout {
	margin: 0;
}

.login-layout>div {
	border: 1px solid #ffffff;
}

.vertical-container {
	margin: 0;
	height: 200px;
	background: #efefef;
	border-radius: 4px;
}

.nested-grid .p-col-4 {
	padding-bottom: 1em;
}
.menuStyle {
}

.ui-menuitem{
	border: 1px solid #ffffff;
}
