<!--The content below is only a placeholder and can be replaced.-->
<div class="p-grid login-layout">
	<div class="p-col-12">
		Header
	</div>
	<div class="p-col-4 p-md-4 p-col-nogutter">
    </div>
    <div class="p-col-4 p-md-4 p-col-nogutter">
    	<p-card #pnl>
    		<form>
	    		<div class="p-col-12">
					<span class="ui-float-label">
						<label for="username">MobileNumber</label>
						<input id="username" name="username" type="text" size="30" autocomplete="username" pInputText [(ngModel)]="username" />
					</span>
				</div>
				<div class="p-col-12">
					<span class="ui-float-label">
						<label for="password">Password</label>
						<input id="password" name="password" type="password" size="30" autocomplete="current-password" pPassword [(ngModel)]="password"/>
					</span>
				</div>
				<div class="p-col-12">
					<button pButton type="button" label="Login" (click)="doLogin()" class="ui-button-raised ui-button-success"></button>
				</div>
			</form>
		</p-card>
		<p-blockUI [target]="pnl" [blocked]="loginProgress"></p-blockUI>
    </div>
	<div class="p-col-4 p-md-4 p-col-nogutter">
    </div>
    <div class="p-col-12">
        &copy;2018 Company All Rights Reserved Co. Reg. No. 199504676H
    </div>
</div>
