<ListView id="root-drawer-list" [items]="menuItems"
	 class="root-drawer-content">
	<ng-template let-menuItem="item"> 
		<StackLayout visibility="{{menuItem.visible?'visible':'collapsed'}}" class="sidedrawer-content" (tap)="naviagateByMenuIem(menuItem)">
			<GridLayout  columns="auto, *" class="sidedrawer-list-item">
				<Label col="0" width="100%" textAlignment="left" [text]="menuItem.label" class="p-l-30 text-align-left vertical-align-center" [class.selected]="isMenuSelected(menuItem)"></Label>
				<StackLayout class="hr-light" verticalAlignment="bottom"></StackLayout>
			</GridLayout>
		</StackLayout>
	</ng-template>
</ListView>
<StackLayout class="sidedrawer-content">
	<GridLayout columns="auto, *" class="sidedrawer-list-item">
		<Label text="Logout" horizontalAlignment="stretch" textAlignment="left" class="p-l-30" (tap)="logout();"></Label>
		<StackLayout class="hr-light"  verticalAlignment="bottom"></StackLayout>
	</GridLayout>
</StackLayout>