<div class="p-grid">
	<div class="p-col" *ngIf="hasRole(['ADMIN', 'SELLER_AGENT','BUYER_AGENT'])">
		<p-panel header="Users" [toggleable]="false">
			<p-chart *ngIf="sellerAndBuyersChartData" type="bar" [data]="sellerAndBuyersChartData"></p-chart>
			<button pButton type="button" label="Daily" class="ui-button-rounded ui-button-success" (click)="setSellerAndBuyerDailyGrowthRate($event);"></button>
			<button pButton type="button" label="Monthly" class="ui-button-rounded ui-button-success" (click)="setSellerAndBuyerMonthlyGrowthRate($event);"></button>
			<button pButton type="button" label="Yearly" class="ui-button-rounded ui-button-success" (click)="setSellerAndBuyerYearlyGrowthRate($event);"></button>
		</p-panel>
	</div>
	<div class="p-col" *ngIf="hasRole(['SELLER'])">
		<seller></seller>
	</div>
	<div class="p-col" *ngIf="hasRole(['SELLER_AGENT'])">
		<selleragent></selleragent>
	</div>
</div>
