  <StackLayout>
  <ContentView height="100%" width="100%">
    <Mapbox
        accessToken="pk.eyJ1IjoiYXJ1bm5wcmFrYXNoIiwiYSI6ImNqdjlma2ZxNzExNWM0NG81cGt6dGRqcnoifQ.lfKLGqK2IF-btBD9FzA-9Q"
        mapStyle="streets"
        latitude="50.467735"
        longitude="13.427718"
        hideCompass="true"
        zoomLevel="10"
        showUserLocation="false"
        disableZoom="false"
        disableRotation="false"
        disableScroll="false"
        disableTilt="false"
        (mapReady)="onMapReady($event)">
    </Mapbox>
    </ContentView>
  </StackLayout>