<p-scrollPanel #detail [style]="{width: '70%', height: '200px'}">
	<div class="p-grid text-align-left" >
		<div class="p-col-4 text-bold">Quantity</div>
		<div class="p-col-8">
			<input pInputText type="number" [(ngModel)]="quantity" size="23" placeholder="Quantity" appendTo="body"  [style]="{'width':'50%'}" />
		</div>
		<div class="p-col-4 text-bold">Quality</div>
		<div class="p-col-8">
			<p-autoComplete immutable="false" [(ngModel)]="quality" [suggestions]="qualities" [forceSelection]="true" field="qualityType" [dropdown]="true" 
			(completeMethod)="filterAutoCompleteSuggestion($event)" [multiple]="false" [size]="30" placeholder="Quality"></p-autoComplete>
		</div>
	</div>
	<p-footer>
		<div class="text-align-center">
			<button type="button" pButton icon="pi pi-close" (click)="closeDetailDialog()" label="Cancel" class="ui-button-success ui-button-raised ui-button-rounded"></button>
			<button type="button" pButton icon="pi pi-close" (click)="createTransaction()" label="Ok" class="ui-button-success ui-button-raised ui-button-rounded"></button>
		</div>
	</p-footer>
</p-scrollPanel>
<p-dialog [(visible)]="displayAlertDialog" 
        [style]="{'width': '300px !important', 'height': '200px !important','min-width': '300px !important', 'min-height': '200px !important'}" 
        [minY]="70" [maximizable]="false">
        <p-header>
            <p-message *ngIf="alertDialogTitle == 'Error'" severity="error" text="Error" [closable]="false"></p-message>
            <p-message *ngIf="alertDialogTitle == 'Success'" severity="success" text="Success" [closable]="false"></p-message>
        </p-header>
            {{alertDialogMessage}}
        <p-footer>
            <button type="button" pButton icon="pi pi-close" (click)="displayAlertDialog=false" label="Ok" class="ui-button-success ui-button-raised ui-button-rounded"></button>
        </p-footer>
</p-dialog>
